html,
body,
#root {
  height: 100%;
  font-size: $font-base;
}

/* BEGIN: Sticky Footer CSS */
#root {
  display: flex;
  flex-direction: column;
}

#headerAndMain {
  flex: 1 0 auto;
}

#footer {
  flex-shrink: 0;
}
/* END: Sticky Footer CSS */

.main {
  font-family: $font-normal;

  .inner {
    padding-bottom: 3em;
  }

  .right-col {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    font-size: 16px;
    font-weight: 700;
    color: $blue-purple;
  }

  .view-header {
    margin-bottom: 2em;
  }

  .h1 {
    font-weight: 600;
  }

  // My Requests View
  .my-requests {
    .view-header {
      margin-bottom: 3em;
    }
  }
}
