body {
  font-size: $font-base;
}
.main {
  font-family: $font-normal;
  min-height: 100vh;
  padding-bottom: -200px;

  .inner {
    padding-bottom: 3em;
  }

  .right-col {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    font-size: 16px;
    font-weight: 700;
    color: $blue-purple;
  }

  .view-header {
    margin-bottom: 2em;
  }

  .h1 {
    font-weight: 600;
  }

  // My Requests View
  .my-requests {
    .view-header {
      margin-bottom: 3em;
    }
  }
}
