html,
body,
#root {
  height: 100%;
  font-size: $font-base;
  font-family: $font-normal;
}

/* BEGIN: Sticky Footer CSS */
#root {
  display: flex;
  flex-direction: column;
}

#headerAndMain {
  flex: 1 0 auto;
}

#footer {
  flex-shrink: 0;
}
/* END: Sticky Footer CSS */

.main {
  .inner {
    padding-bottom: 3em;
  }

  .right-col {
    // display: flex;
    // justify-content: flex-end;
    align-items: center;

    font-size: 16px;
    font-weight: 700;
    color: $blue-purple;
  }

  .view-header {
    margin-bottom: 3em;
    margin-top: 3em;

    &:first-child {
      margin-top: 0;
    }
  }

  .h1 {
    font-weight: 600;
    font-size: 2.5em;
  }

  // MyRequestsView
  .my-requests {
    .view-header {
      margin-bottom: 3em;
    }
  }

  // WorkView
  .my-work {
    .h1 {
      // font-size: 2em;
    }
  }
}
