$black: #000000;
$white: #ffffff;

$grey-light: #f1f0f2;
$grey: #c2c2ca;
$grey-dark: #86868b;

$blue-grey-dark: #110a36;
$blue-purple: #452cd0;
$orange: #f15a24;
$yellow: #edcf20;
$green: #18d668;
$blue: #2f8fff;
$purple: #9349ff;
