.request-details {
  .dropdown {
    button {
      background-color: $white;
      border-color: $grey;
      border-width: 2px;
      color: $black;
      &:hover,
      :active {
        background-color: $white !important;
        color: $black;
      }
    }
  }
  .show {
    .btn-outline-secondary {
      &.dropdown-toggle {
        background-color: $white !important;
        color: $black;
      }
    }
  }
}
