.my-work-table,
.available-work-table {
  .date {
    width: 20%;
    max-width: 150px;
  }

  .status {
    width: 20%;
    max-width: 150px;
  }

  .count,
  .distance {
    // width: 10%;
    // max-width: 75px;
  }

  .details,
  .requestor {
    // width: 28%;
    // min-width: 200px;
  }

  .localDelivery {
    text-align: center;
  }

  .action,
  .claim {
    width: 12%;
    // max-width: 120px;
  }

  .action button {
    // width: 10rem;
  }

  .requestedDate {
    width: 10%;
  }
}

.my-work-table {
  .status .dropdown {
    button {
      background-color: $white;
      border-color: $grey;
      border-width: 2px;
      color: $black;

      &:hover,
      :active {
        background-color: $white;
        color: $black;
      }
    }

    .dropdown-item {
      padding: 0.25rem 0.8rem;
    }
  }
}

.available-work-table {
  .distance {
    // max-width: 100px;
  }

  .claim button {
    // width: 10rem;
  }
}
