.main {
  h1 {
    font-size: 40px;
    line-height: 56px;
    color: $blue-grey-dark;
  }

  .table-wrapper {
    border: 2px solid $grey;
    border-radius: 4px;
    margin-bottom: 3em;
    margin-top: 0.5em;
    min-width: 520px;
  }

  table {
    width: 100%;

    font-size: 16px;
    line-height: 24px;

    thead > tr,
    tr:not(:last-child) {
      border-bottom: 2px solid $grey;
    }

    th,
    td {
      padding: 1em;
    }

    th {
      color: $grey-dark;
      font-weight: 600;
    }

    td {
      color: $blue-grey-dark;
    }
  }

  .green-checkmark {
    color: green;
    font-size: 20px;
  }

  .red-x {
    color: red;
    font-size: 20px;
  }
}
