form {
    input, textarea {
        width: 100%;
        font-size: 18px;
        border-radius: 4px;
        position: relative;
        padding: 15px 10px;
        border: 1px solid $grey-light;
        transition: 0.3s all;

        &:hover {
            background-color: rgba(244,243,237, 0.45);
            box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
        }

        &:focus {
            border-color: $grey;
            outline: none;
        }

        &::placeholder {
            color: $grey-light;
            font-weight: normal;
        }
    }

    input[type="submit"] {
        width: auto;
        margin: 10px;
    }

    textarea {
        height: 130px;
    }

    .Dropdown-root {
        font-size: 18px;
        margin: 10px 0;

        &.is-open {
            .Dropdown-arrow {
                border-width: 0 7px 7px;
            }

            .Dropdown-control {
                background-color: rgba(244,243,237, 0.45);
                box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
                border-color: $grey;
            }
        }

        .Dropdown-arrow {
            border-width: 7px 7px 0;
            top: 20px;
        }

        .Dropdown-control {
            padding-top: 15px;
            padding-bottom: 15px;
            border-radius: 4px;
            border: 1px solid $grey-light;
            transition: 0.3s all;
        }

        .Dropdown-placeholder:not(.is-selected) {
            color: $grey-light;
        }
    }


    fieldset {
        border: none;
        margin-top: 20px;

        input,textarea {
            margin: 10px 0;
        }
    }
}