$black:         #000000;
$white:         #FFFFFF;

$grey-lightest: #F4F3ED;
$grey-light:    #A9A7AA;
$grey:          #3E3D3F;
$grey-dark:     #222123;
$grey-darkest:  #141414;

$blue:          #00D0D5;
$pink:          #FF2F6C;
$green:         #A4EF00;
$orange:        #FF8141;
$purple:        #9773fa;


// $orange:       hsl(14,  100%, 53%);
// $yellow:       hsl(48,  100%, 67%);
// $green:        hsl(141, 53%,  53%);
// $turquoise:    hsl(171, 100%, 41%);
// $cyan:         hsl(204, 71%,  53%);
// $blue:         hsl(217, 71%,  53%);
// $purple:       hsl(271, 100%, 71%);
// $red:          hsl(348, 86%, 61%);