$font-normal: "Barlow", "Arial", sans-serif;
$font-accent: "Barlow Condensed", "Barlow", "Arial", sans-serif;
$render-mode: optimizeLegibility;

$size-1: 48px;
$size-2: 30px;
$size-3: 18px;
$size-4: 16px;
$size-p: 15px;
$size-large-label: 24px;
$size-label: 16px;

$height-1: 60px;
$height-2: 48px;
$height-3: 22px;
$height-4: 16px;
$height-p: 20px;
$height-large-label: 30px;
$height-label: 16px;


$weight-light: 300;
$weight-normal: 400;
$weight-medium: 500;
$weight-semibold: 600;
$weight-bold: 700;
