@mixin animation($value) {
    -webkit-animation: $value;
        -moz-animation:  $value;
        animation:       $value;
}

@mixin keyframes($name) {
    @-webkit-keyframes #{$name} {
        @content;
    }

    @-moz-keyframes #{$name} {
        @content;
    }

    @-ms-keyframes #{$name} {
        @content;
    }

    @keyframes #{$name} {
        @content;
    }
}

@mixin transform($value) {
    -webkit-transform: $value;
    -moz-transform: $value;
    transform: $value;
}

@mixin icon-shadow($color) {
    text-shadow: 0 4px 16px $color;
}

@mixin site-container() {
    @include grid-container;
    margin: 0 auto;
    max-width: 1180px;
    position: relative;
}

@mixin font-style($family: false, $size: false, $color: false, $weight: false, $line-height: false) {
    @if $family {
        font-family: $family;
    } @else {
        font-family: $font-normal;
    }

    @if $size         { font-size: $size;         }
    @if $color        { color: $color;            }
    @if $weight       { font-weight: $weight;     }
    @if $line-height  { line-height: $line-height }
}


// Responsive Styles
// --------------------------

@mixin non-retina {
    @media
        not screen and (-webkit-min-device-pixel-ratio: 2),
        not screen and (min--moz-device-pixel-ratio: 2),
        not screen and (-o-min-device-pixel-ratio: 2/1),
        not screen and (min-device-pixel-ratio: 2),
        not screen and (min-resolution: 192dpi),
        not screen and (min-resolution: 2dppx) {
        @content;
    }
}

@mixin respond-to($media) {
    @if map-has-key($breakpoints, $media) {
        @media (max-width: map-get($breakpoints, $media)) { @content; }
    }
    @else if $media == non-retina {
        @media screen and (-webkit-max-device-pixel-ratio: 1) { @content; }
    }
    @else if $media == retina {
        @include retina();
    }
    @else {
        @media only screen and (max-width: #{$media}px) { @content; }
    }
}

@mixin retina {
    @media
        only screen and (-webkit-min-device-pixel-ratio: 2),
        only screen and (min--moz-device-pixel-ratio: 2),
        only screen and (-o-min-device-pixel-ratio: 2/1),
        only screen and (min-device-pixel-ratio: 2),
        only screen and (min-resolution: 192dpi),
        only screen and (min-resolution: 2dppx) {
        @content;
    }
}

@mixin clearfix {
    &:before,
    &:after {
        content: " ";
        display: table;
    }

    &:after {
        display: block;
        clear: both;
        height: 1px;
        margin-top: -1px;
        visibility: hidden;
    }

    & {
        *zoom: 1;
    }
}

@mixin clearlist {
    list-style-type: none;
    margin: 0;
    padding: 0;
}