.c-button {
    background-color: $purple;
    border: none;
    border-radius: 3px;
    color: $white;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    padding: 10px 16px;

    &:hover {
        background-color: rgba($purple, 0.8);
    }

    &[disabled] {
        cursor: not-allowed;
        opacity: 0.2;
    }
}