#request-button-group {
    margin-top: 30px;
}

#cancel-request-button {
    margin-left: 20px;
}

#requested-by-card {
    height: 150px;
}

#requested-mask-shields-card {
    height: 150px;
    font-size: 50px;
    padding-left: 60px;
}

#requested-row-1 {
    margin-top: 50px;
}

#requested-row-2 {
    margin-top: 50px;
}

#requested-by-email {
    color: darkgray;
    margin-left: 20px;
}

#requested-by-name {
    font-size: 20px;
    margin-top: 20px;
    margin-left: 20px;
}