.c-quickstart {
    padding: 30px 0;
    margin-top: 40px;

    &__item {
        border: 2px solid $grey-light;
        margin: 20px 0;
        padding: 18px 20px;
        position: relative;

        &__content {
            display: none;
            font-style: italic;
            padding: 14px 40px 26px 0;
        }

        p + p {
            margin-top: 10px;
        }

        ul {
            margin-left: 30px;
        }

        &.-open {
            .c-quickstart__item__content {
                display: block;
            }

            .c-arrow {
                transform: rotate(-135deg);
                -webkit-transform: rotate(-135deg);
            }

        }
    }

    .c-arrow {
        border-color: $grey;
        cursor: pointer;
        position: absolute;
        right: 20px;
        top: calc(50% - 15px);
    }
}