.c-requestForm {
    @include grid-column(8);

    @include respond-to("tablet") {
        @include grid-column(12);
    }

    &.-pad {
        padding-top: 60px;
    }

    form {
        .-error {
            display: inline-block;
            color: red;
        }

        .-short {
            display: inline-block;
            width: calc(33% - 6px);
            vertical-align: bottom;

            @include respond-to("phone") {
                margin: 10px 0;
                width: 100%;
            }

            + .-short {
                margin-left: 10px;

                @include respond-to("phone") {
                    margin-left: 0;
                }
            }
        }
    }
}