.requested-list-table {
    .requestedDate {
        width: 20%;
        padding: 0 1.8rem 0 1.8rem;
    }

    .count {
        width: 10%;
    }

    tbody > tr {
        .requestedDate {
            padding: 1.8rem;
        }
    }
}

.all-requests-view-header {
    margin-bottom: 2em;
    .toggleFilter {
        color: black;
    }

    .searchInput {
        padding: 6px;
        input {
            height: 3rem;
        }
    }

    #status-dropdown-1 {
        height: 3rem;
        width: 14rem;
        border: 1px solid #c2c2ca;
    }

    .statusFilter {
        padding: 6px 15px;
        text-align: right;
    }
}
