.my-work-table,
.available-work-table {
  .count {
    width: 6rem;
  }
}

.available-work-table {
  .distance {
    width: 7rem;
  }

  .claim {
    width: 10rem;

    button {
      width: 100%;
    }
  }
}
