.status-circle {
  margin-right: 0.5rem;
  
  &.status-All > circle {
    fill: $grey;
  }

  &.status-Requested > circle {
    fill: $orange;
  }

  &.status-Queued > circle {
    fill: $yellow;
  }

  &.status-Printing > circle {
    fill: $green;
  }

  &.status-Completed > circle {
    fill: $blue;
  }

  &.status-Shipped > circle {
    fill: $purple;
  }

  &.status-Delivered > circle {
    fill: #86868B
  }
}
