.main {
  font-family: $font-normal;

  .download-models {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    font-size: 16px;
    font-weight: 700;
    color: $blue-purple;
  }
}
